# Игнорируем node_modules (они будут установлены внутри контейнера)
node_modules

# Игнорируем папку сборки Next.js (если она есть)
.next

# Игнорируем логи
*.log

# Игнорируем скрытые файлы и папки (например, .git, .env)
.*
!.dockerignore
!.gitignore

# Игнорируем папку .git (если она не нужна в образе)
.git

# Игнорируем локальные конфигурации и настройки
.env.local
.env.development
.env.test

# Игнорируем папку с тестами (если она не нужна в образе)
**/__tests__

# Игнорируем папку с документацией (если она не нужна в образе)
docs

# Игнорируем папку с IDE-конфигурациями (например, .vscode)
.vscode

# Игнорируем временные файлы
tmp

# Игнорируем папку с зависимостями для разработки (если она есть)
**/node_modules

# Игнорируем папку с кэшем (если она есть)
.cache

# Игнорируем папку с билдами (если она есть)
dist
build

# Игнорируем папку с Docker-конфигурациями (если она не нужна в образе)
docker

nginx